<br>
<br>

<div class="container ">
    <div id="formAlert" class="alert alert-danger hide " style="display:none">
        <a class="close">×</a>
        <strong>Warning!</strong>
        <span id="error-msg">Make sure all fields are filled and try again.</span>
    </div>
    <div class="card">
        <div class="card-header">
            Add Admin Form
        </div>
        <div class="card-body">

            <form name="register" action="save-admin.php" method="POST">
                <div class="row">
                    <div class="col-6">
                        <div class="form-group">
                            <label for="first_name">First Name</label>
                            <input type="text" class="form-control" id="first_name" name="first_name" placeholder="First Name">
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="form-group">
                            <label for="last_name">Last Name</label>
                            <input type="text" class="form-control" id="last_name" name="last_name" placeholder="Last Name">
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-6">
                        <div class="form-group">
                            <label for="email">Email</label>
                            <input type="text" class="form-control" id="email" name="email" placeholder="Email" onblur="check_email(this.value)">
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="form-group">
                            <label for="phone">Phone</label>
                            <input type="text" class="form-control" id="phone" name="phone" placeholder="Phone Number" onblur="check_phone(this.value)">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-6">
                        <div class="form-group">
                            <label for="email">Password</label>
                            <input type="text" class="form-control" id="password" name="password" placeholder="Password">
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="form-group">
                            <label for="role_id">Role</label>
                            <select class="form-control" id="role_id" name="role_id">
                            </select>
                        </div>
                    </div>
                </div>


                <br>
                <input type="submit" value="Submit" class="btn btn-primary">

            </form>
        </div>
    </div>

</div>

<script src="../assets/js/add-admin.js"></script>