<head>
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.23/css/jquery.dataTables.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>
<br>
<br>

<div class="container">
    <div id="formAlerts" class="alert alert-success hide " style="display:none">
        <a class="close">×</a>
        <strong>Success!</strong>
        <span id="msgs">Make sure all fields are filled and try again.</span>
    </div>
    <div id="formAlertd" class="alert alert-danger hide " style="display:none">
        <a class="close">×</a>
        <strong>Warning!</strong>
        <span id="msgd">Make sure all fields are filled and try again.</span>
    </div>
    <div class="card">
        <div class="card-header">
            Admins
        </div>
        <div class="card-body">
            <a href="add-admin.php" class="btn btn-primary">Add Admin</a>
            <br>
            <br>
            <table id="myTable">
                <thead>
                    <tr>
                        <th>First Name</th>
                        <th>Last Name</th>
                        <th>Email</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody id="data">

                </tbody>
            </table>
        </div>
    </div>

</div>

<script src="https://cdn.datatables.net/1.10.23/js/jquery.dataTables.min.js"></script>
<script src="../assets/js/admin-table.js"></script>

<input type="hidden" name="del_id" id="del_id" value="">
<div class="modal fade" id="delmodal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Confirm Delete</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
            </div>
            <div class="modal-body">
                Are you Sure to want to delete??
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" onclick="del_admin()">Delete</button>
            </div>
        </div>
    </div>
</div>